body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #fff;
}

header {
    background-color: #1e1e1e;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff4081;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    width: 500px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 50px;
}

.card {
    background-color: #1e1e1e;
    border: 1px solid #333;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
    overflow: hidden; /* Evita que el contenido desborde la tarjeta */
}

.card img {
    width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el área disponible */
    border-radius: 8px; /* Mantiene los bordes redondeados de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}


.card:hover {
    transform: scale(1.05);
    border-color: #ff4081;
}

.mapa-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

#mapa h2 {
    text-align: center;
    color: #ff4081;
    margin-bottom: 20px;
}
